version: "0.1"

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    image: nginx
    env_file:
      - .env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    image: wordpress
    restart: always

volumes:
  wordpress:
    name: wordpress

networks:
  webnet:
    name: webnet
