services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    env_file:
      - .env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    networks:
      - webnet
    #restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - webnet
    volumes:
      - wordpress:/var/www/html
    #restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    networks:
      - webnet
    volumes:
      - mariadb:/var/lib/mysql
    #restart: always

volumes:
  wordpress:
    name: wordpress
  mariadb:
    name: mariadb

networks:
  webnet:
    name: webnet
