services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    env_file:
      - .env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: always
    networks:
      - webnet

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    restart: always
    networks:
      - webnet

volumes:
  wordpress:
    name: wordpress

networks:
  webnet:
    name: webnet
